.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.service-container img {
  width: 400px;
  height: 200px;
  /* border-radius: 50px 20px; */
}
h1 {
  margin-top: 10px;
}
